@font-face {
    font-family: 'museo';
    src: url('./../fonts/museo300.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'museoSans';
    src: url("./../fonts/MuseoSansLight.eot");
    src: url("./../fonts/MuseoSansLight.eot?#iefix")format("embedded-opentype"),
    url("./../fonts/MuseoSansLight.woff") format("woff"),
    url("./../fonts/MuseoSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html {
    margin: 0;
    padding: 0;
    
    body {
        font-family: 'museoSans', sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 1.2em;
        margin: 0;
        padding: 0;
        
        h1, .h1 {
            font-family: 'museo';
            font-size: 50px;
            line-height: 1em;
            margin-bottom: 50px;
        }
		
		input,
		textarea {
		    -webkit-appearance: none;
		}

        section {
            background: rgb(241, 242, 242);
            color: rgb(65, 64, 66);
            min-height: 600px;
            
            /* Flex-box vertical allignment */
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -ms-flex-align: center;
            -webkit-align-items: center;
            -webkit-box-align: center;
            align-items: center;

            > .wrapper {
                width: 100%;
                
            }

            > .container,
            > .wrapper > .container {
                margin: 0 auto;
                max-width: 95%;
            }

            &.bg-highlight {
                background: rgb(216, 52, 84);
                color: #fff;
            }
            &.bg-white {
                background: #fff;
            }

            .text-highlight {
                color: rgb(216, 52, 84);
            }
            .text-center {
                text-align: center;
            }
            .clearfix {
                clear: both;
            }
        }
    }
}

/* Section Header */
.logo {
    width: 250px;
    margin-bottom: 50px;
}
.caption {
    font-size: 16px;
    line-height: 22px;
}
.arrow {
    a {
        display: block;
        margin: 0 auto;
        width: 28px;
        height: 28px;
        border-radius: 100%;
        padding: 4px;
        margin-top: 50px;
        transition: .3s all ease;
        text-align: center;
        border: 2px solid #fff;
        color: #fff;
        box-shadow: 0 2px 10px rgba(0,0,0,.25);
        background: rgb(216, 52, 84);
        
    }
    &.white {
        a {
            box-shadow:none;
            background: transparent;
        }
    }
    &.black {
        a {
            border: 2px solid rgb(65, 64, 66);
            color: rgb(65, 64, 66);
            box-shadow: none;
            background: transparent;
        }
    }
}

/* Section + pic */
.img-responsive {
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 80px;
}
.text {
    text-align: center;
    font-size: 22px;
    line-height: 1.5em;
    font-weight: bold;
    padding: 0 15px;
}

/* Section services */
.services {
    font-size: 17px;
    font-weight: bold;

    > div {
        display: table;
        
        &.item {
            width: 100%;
            float: none;
            margin-bottom: 20px;
        }

        > div {
            display: table-cell;
            vertical-align: middle;            

            &.caption {
                text-align: left;
                padding-left: 20px;
            }
            &.round {
                margin: 0;
                width: 60px;
                height: 60px;
                background: rgb(216, 52, 84);
                border-radius: 100%;
                margin-bottom: 50px;
                text-align: center;
                
                img {
                    width: 50%;
                    padding: 25% 0;
                }
            }
        }
    }
}

/* Carousel */
.slider {
    position: relative;
    
    .slider-wrapper {
        width: 100%;
        float: none;
        margin: 0 auto;
        
        .carousel {
            * {
                outline: none;
            }
            img {
                max-width: 100%;
                margin: 0 auto;
            }
            .slick-dots { 
                margin-top: 50px;
                padding: 0;
                list-style: none;
                display: block;
                text-align: center;
                width: 100%; 
                
                li {
                    position: relative;
                    display: inline-block;
                    height: 20px;
                    width: 20px;
                    margin: 0 5px;
                    padding: 0;
                    cursor: pointer;
                    
                    &.slick-active {
                        button {
                            background: #5e6b6e;
                        }
                    }
                    
                    button {
                        border: 0;
                        background: #a7aeb0;
                        display: block;
                        height: 15px;
                        width: 15px;
                        line-height: 0;
                        font-size: 0;
                        color: transparent;
                        cursor: pointer;
                        border-radius: 100%;
                        
                        &:hover,
                        &:focus {
                            outline: none; 
                        }
                    }

                }            
            }
        }
    }
    .sliderPrev,
    .sliderNext {
        display: none;
        position: absolute;
        top: 50%;
        margin-top: -14px;
        padding: 0;
    }
    .sliderNext {
        right: 0
    }
    .sliderPrev {
        left: 0
    }
    .sliderNext {
        text-align: right;
    }
}

/* Map Section */
#map {
    width: 100%;
    height: 350px;
    
    .info {
        margin: 0;
        line-height: 1.5em;
        font-family: 'museoSans';
    }
    
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 10px;
        top: 0;
        background: #dedede;
        z-index: 2;
        background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
        opacity: .25;
    }

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 10px;
        bottom: 0;
        background: #dedede;
        z-index: 2;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
        opacity: .25;
    }
    .gmnoprint, .gm-style-cc {
        display: none;
    }
}

/* Section Contact */
.form-wrapper {
    width: 100%;
    margin-left: 0;
    
    input[type="text"],
    textarea {
        width: 100%;
        display: block;
        outline: none;
        padding: 10px 12px;
        border: 2px solid #dedede;
        border-radius: 3px;
        font-size: 14px;
        margin-bottom: 15px;
        font-weight: 100;
        
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;  
    }

    .btn.btn-block {
        display: block;
        width: 100%;
        background: #d83454;
        border: 0;
        color: #fff;
        padding: 20px 0;
        font-size: 14px;
        font-weight: 100;
        cursor: pointer;
        
        &:hover {
            background: rgb(152, 39, 61);
        }
    }
}

.phone {
    margin-top: 25px;
}
.email {
    margin-top: 10px;
}
.phone,
.email {
    text-align: center;
    font-weight: bold;
}
.visible-md,
.visible-lg {
    display: none;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .container {
        width: 540px;
        max-width: 100%;
    }
    .form-wrapper {
        width: 50%;
        margin-left: 25%;
    }
    .services {
        .item {
            width: 100%;
            margin-bottom: 30px;
            display: table;
            
            > div {
                display: table-cell;
                vertical-align: middle;

                &.round {
                    margin: 0;
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }
    .slider {
        .slider-wrapper {
            width: 90%;
            
            .carousel {
                img {
                    max-width: 50%;
                    margin-bottom: 40px;
                }
            }
        }
	    .sliderPrev,
	    .sliderNext {
			display: block;
	    }
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .container {
        width: 720px;
        max-width: 100%;
    }
    .services {
        font-size: 17px;
        font-weight: bold;

        > div {
            display: block;
            &.item {
                width: 25%;
                float: left;
                display: block;
                padding: 0;
                
                > div {
                    display: block;
                    text-align: center;
                    padding: 0;
    
                    &.round {
                        margin: 0 auto;
                        width: 150px;
                        height: 150px;
                        margin-bottom: 50px;
                        
                        img {
                            width: 50%;
                            padding: 25% 0;
                        }
                    }
                }
            }
        }
    }
    .slider {
        margin: 150px 0;
        
        .slider-wrapper {
            width: 90%;
            margin: 0 auto;
            float: none;
            
            .carousel {
                img {
                    max-width: 90%;
                    margin: 0 auto;
                }
            }
        }
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        width: 960px;
        max-width: 100%;
    }
    .hidden-md {
        display: none;
    }
    .visible-md {
        display: inline-block;
    }

    .slider {
        .slider-wrapper {
            .carousel {
                img {
                    max-width: 90%;
                    margin: 0 auto;
                    display: block;
                }
            }
        }
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        width: 1140px;
        max-width: 100%;
    }
    .hidden-lg {
        display: none;
    }
    .visible-md {
        display: inline-block;
    }
}